:root {
  --color-purple: #843bcf;
  --color-white: #fff;
  --color-bg-dark: #0d0d0e;
  --color-purple-dark: #2a1640;
}

* {
  box-sizing: border-box;
  font-family: 'Cooper';
  color: var(--color-white);
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/imgs/bg-large.png);
}

/** MENU NAV BAR */
header {
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 10px 1% 0 1%;
  background-color: var(--color-purple);
  font-size: 16px;
  border-radius: 80px;
}

.container {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  height: 50px;
}

.menu nav ul {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
}

.cv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border: 3px solid var(--color-white);
  border-radius: 25px;
  padding: 10px;
}

header a {
  text-decoration: none;
}

li a:hover {
  background-color: var(--color-white);
  padding: 10px;
  color: var(--color-purple-dark);
  border-radius: 25px;
}

.cv:hover {
  background-color: var(--color-white);
  color: var(--color-purple-dark);
  border-radius: 25px;
  padding: 10px;
}

/** MAIN CONTENT IMG DRAW*/
.introduction {
  color: var(--color-white);
}

.container-colunm {
  display: flex;
  justify-content: space-between;
}

.main-txt {
  width: 50%;
  max-width: 800px;
  align-self: center;
  margin-left: 5%;
}

.main-txt h1 {
  margin: 0;
  font-size: 80px;
}

.main-txt h2 {
  margin: 0;
  font-size: 30px;
}

.main-img {
  display: flex;
  margin: 25px 5% 0 0;
  padding: 0;
  height: 600px;
  width: auto;
  align-self: flex-end;
}

/** text apresentation + photo */
#txt-apresentation {
  background-color: var(--color-bg-dark);
  height: 500px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.txt {
  max-width: 50%;
  margin: 0 5% 0 0;
}

.txt p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
}

.card {
  position: relative;
  margin-left: 5%;
  width: 310px;
  height: 310px;
  background: rgb(255, 0, 179);
  background: linear-gradient(137deg, var(--color-purple) 0%, var(--color-purple-dark) 100%, 137deg, var(--color-purple) 0%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(250, 15, 234, 0.5));
}

.card::after {
  content: '';
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

/** LENGUAGES */

.layout {
  margin-top: 2vh;
  display: flex;
  max-height: 800px;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--color-purple);
  border-radius: 100px;
}

.techname {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

}

.techname h1,
p {
  margin: 5px;
}

.techname h1 {
  margin: 5px;
  font-size: 18px;
}

.techname p {
  margin: 2px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
}

.techblocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*projects*/

footer {
  margin-top: 20px;
  height: 400px;
  background-color: var(--color-bg-dark);
}

#display-none {
  display: none;
}