:root {
  --color-purple: #843bcf;
  --color-white: #fff;
  --color-bg-dark: #0d0d0e;
  --color-purple-dark: #2a1640;
}

* {
  box-sizing: border-box;
  font-family: 'Cooper';
  color: var(--color-white);
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/imgs/bg-large.png);
}

/** MENU NAV BAR */
.menu-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 10px 1% 0 1%;
  background-color: var(--color-purple);
  font-size: 16px;
  border-radius: 80px;
}

.container {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  height: 50px;
}

.menu nav ul {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
}

header a {
  text-decoration: none;
}

.button {
  padding: 10px;
  background-color: transparent;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: none;
  font-family: inherit;
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color-white);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}

a.button:hover li {
  color: var(--color-purple-dark);
}

.button {
  margin-right: 10px;
}

/** MAIN CONTENT IMG DRAW*/
.introduction {
  color: var(--color-white);
}

.container-colunm {
  display: flex;
  justify-content: space-between;
}

#main-txt {
  width: 50%;
  max-width: 800px;
  align-self: center;
  margin-left: 5%;
}

#main-txt h1 {
  margin: 0;
  font-size: 80px;
}

#main-txt h2 {
  margin: 0;
  font-size: 30px;
}

.main-img {
  display: flex;
  margin: 25px 5% 0 0;
  padding: 0;
  height: 600px;
  width: auto;
  align-self: flex-end;
}

/** text apresentation + photo */
#txt-apresentation {
  background-color: var(--color-bg-dark);
  height: 500px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.txt {
  max-width: 50%;
  margin: 0 5% 0 0;
}

.txt p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: var(--color-white);
}

.card {
  position: relative;
  margin-left: 5%;
  width: 310px;
  height: 310px;
  background: rgb(255, 0, 179);
  background: linear-gradient(137deg, var(--color-purple) 0%, var(--color-purple-dark) 100%, 137deg, var(--color-purple) 0%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(250, 15, 234, 0.5));
}

.card::after {
  content: '';
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

/** LENGUAGES */

.layout {
  margin-top: 2vh;
  display: flex;
  max-height: 800px;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--color-purple);
  border-radius: 100px;
}

.techname {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

}

.techname h1,
p {
  margin: 5px;
}

.techname h1 {
  margin: 5px;
  font-size: 18px;
}

.techname p {
  margin: 2px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
}

.techblocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*projects*/

.projects {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  height: 300px;
  margin: 5%;
  margin-top: 0;
}

.projects div {
  margin: 20px;
  margin: 0 10% 0 10%;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--color-white);

}

.used-techs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
}

.used-techs div {
  width: 40px;
  height: 40px;
  background-color: var(--color-bg-dark);
  margin: 10px 5px 0 5px;
}

#proj1,
#proj2,
#proj3 {
  margin: 0;
}

.apresentation-img img {
  margin-top: 15px;
  width: 100%;
  height: 120px;
  background-color: #0d0d0e;
  border-radius: 10px;
}

.project-infos h2 {
  font-size: 18px;
}

.project-infos p {
  font-size: 14px;
  margin: 5px 0;
}

.project-infos h2,
p {
  color: var(--color-bg-dark);
  margin: 0;
}

.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0e;
}

.project-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  margin: 10px 0;
  min-width: 120px;
}

#deploy {
  background-color: var(--color-purple);
  border-radius: 7px;
  width: 150px;
  margin-right: 5px;
}

#github {
  background-color: var(--color-bg-dark);
  border-radius: 7px;
  width: 150px;
}

/* footer */

footer {
  margin-top: 20px;
  height: 400px;
  background-color: var(--color-bg-dark);
}

footer h2 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.nav a {
  text-decoration: none;
  font-family: 'Montserrat Regular';
}

.nav a:hover {
  color: var(--color-purple);
}

#contact {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-top: 60px;
}

#contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1f;
  padding: 15px;
  border-radius: 10px;
}

#contact a:hover {
  background-color: #36363d;
}

#contact a img {
  width: 40px;
  height: auto;
}

.copy {
  display: flex;
  justify-content: center;
  margin: 60px 0 120px 0;
}

.copy p {
  font-size: 12px;
  font-family: 'Montserrat';
  color: #be8bf1;
}